@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.link {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.link:hover {
  opacity: 1;
}

.link::after {
  content: '';
  position: absolute;
  width: 0; /* Initially no width */
  height: 2px; /* Thickness of the underline */
  background-color: #ffffff; /* Color of the underline */
  bottom: 0;
  left: 0;
  opacity: 0; /* Initially hidden */
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.link:hover::after {
  width: 100%; /* Full width on hover */
  opacity: 1; /* Show the underline on hover */
}



.custom-class {
  height: 291px;
width: 302px;
  box-shadow: 10px 14px 20px #0000008c;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.custom-class::before {
  content: "";
  background-image: conic-gradient(
    #ffffff 20deg,
    transparent 120deg
  );
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 4s linear infinite;
}

.custom-class::after {
  content: "Code";
  width: 99%;
  height: 99%;
  background-color: red;
  background: #101010;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: large;
  letter-spacing: 5px;
  box-shadow: inset 20px 20px 20px 20px #0000008c;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
